.dark-mode {
    background-color: darken($grisOscuro, $amount: 10);
    p {
        color: $blanco;
    }
    a,
    h1,
    h2,
    h2,
    h3,
    h4 {
        color: $gris;
    }
    .anuncio,
    .resumen-propiedad {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        .precio {
            color: $verde;
        }
        li {
            img {
                filter: invert(100%);
            }
        }
    }
    .formulario {
        label,
        legend,
        p {
            color: $gris;
        }
        input:not([type="submit"]),
        textarea,
        select {
            background-color: $grisOscuro;
            color: $blanco;
            border: 1px solid $grisOscuro;
        }
    }
    .contenedor-entrada {
        background-color: $grisOscuro;
    }
    .modo-nocturno {
        background-color: $gris;
        border: 1px solid $gris;
        img {
            filter: unset;
        }
    }
    main,
    section {
        h1 {
            color: $verde;
        }
        h2 {
            color: $verde;
        }
    }
}

.modo-nocturno {
    width: 6rem;
    background-color: $grisOscuro;
    border: 1px solid $gris;
    padding: 1rem;
    border-radius: 50%;
    img {
        filter: invert(100%);
    }
}

.contenedor-btn-nocturno {
    position: fixed;
    bottom: 25px;
    right: 20px;
}